<h1>Client {{client.name}}</h1>
<p>{{client.nickname}}</p>
<p>{{client.pcUser}}</p>
<p>{{client.os}}</p>
<p>{{client.ip}}</p>
<p>{{client.clientArch}}</p>
<p>{{client.lastseen}}</p>
<p>{{client.refreshtime}}</p>

<div class="console card">
  <form (ngSubmit)="setCommand()" method="post">
    <input id="command" type="text" name="command" [(ngModel)]="commandModel.command" autocomplete="off" required>
  </form>
  <br>
  <span *ngFor="let message of messages" [ngSwitch]="message.type">
    <pre *ngSwitchCase="'command'" style="color: dodgerblue;">{{message.message}}</pre>
    <pre *ngSwitchCase="'error'" style="color: orangered;">{{message.message}}</pre>
    <pre *ngSwitchCase="'init'" style="color: yellow;">{{message.message}}</pre>
    <pre *ngSwitchCase="'warning'" style="color: orange;">{{message.message}}</pre>
    <pre *ngSwitchCase="'message'" style="color: violet;">{{message.message}}</pre>
    <pre *ngSwitchCase="'response'" style="color: white;">{{message.message}}</pre>
  </span>
</div>
