<h1>Client {{client.name}}</h1>
<div class="console card">
  <form (ngSubmit)="setCommand()" method="post">
    <input id="command" type="text" name="command" [(ngModel)]="command" autocomplete="off" required>
  </form>
  <br>
  <pre *ngIf="loading" style="color: white;">Loading...</pre>
  <span *ngFor="let message of messages" [ngSwitch]="message.type">
    <pre *ngSwitchCase="'command'" style="color: dodgerblue;">{{message.message}}</pre>
    <pre *ngSwitchCase="'error'" style="color: orangered;">{{message.message}}</pre>
    <pre *ngSwitchCase="'init'" style="color: yellow;">{{message.message}}</pre>
    <pre *ngSwitchCase="'warning'" style="color: orange;">{{message.message}}</pre>
    <pre *ngSwitchCase="'message'" style="color: violet;">{{message.message}}</pre>
    <pre *ngSwitchCase="'response'" style="color: white;">{{message.message}}</pre>
  </span>
</div>
<br>
<div class="card">
  <div class="card-body">
    <table class="table">
      <tr>
        <td>Nickname</td>
        <td>
          <form (ngSubmit)="setNickname()">
            <input class="form-control" type="text" id="nickname" name="nickname" [(ngModel)]="client.nickname"
                   required>
          </form>
        </td>
      </tr>
      <tr>
        <td>PC User</td>
        <td>{{client.pcUser}}</td>
      </tr>
      <tr>
        <td>OS</td>
        <td>{{client.os}}</td>
      </tr>
      <tr>
        <td>IP</td>
        <td>{{client.ip}}</td>
      </tr>
      <tr>
        <td>Client Arch</td>
        <td>{{client.clientArch}}</td>
      </tr>
      <tr>
        <td>Last Seen</td>
        <td>{{client.lastseen}}</td>
      </tr>
    </table>
  </div>
</div>
