<h1>Login</h1>
<form class="form" (ngSubmit)="login()" method="post">
  <fieldset>
    <label for="username">Username</label>
    <input class="form-control" id="username" type="text" name="username" [(ngModel)]="loginModel.username" required/>
  </fieldset>
  <br>
  <fieldset>
    <label for="password">Password</label>
    <input class="form-control" id="password" type="password" name="password" [(ngModel)]="loginModel.password"
           required/>
  </fieldset>
  <br>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
{{loginModel | json}}
